# Application
APPLICATION_NAME=
APPLICATION_VERSION=

# Super Admin
SUPER_USER_USERNAME=
SUPER_USER_PASSWORD=
SUPER_USER_EMAIL=
SUPER_USER_FULL_NAME=
SUPER_USER_PHONE=

# JWT Security
JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# Database
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Thread Pool (Task Execution)
THREAD_POOL_CORE_SIZE=5
THREAD_POOL_MAX_SIZE=10
THREAD_POOL_QUEUE_CAPACITY=25

# Tomcat Server
PORT=8080
TOMCAT_MAX_THREADS=50
TOMCAT_MIN_SPARE_THREADS=10
TOMCAT_MAX_QUEUE_CAPACITY=100

MAIL_USERNAME=
MAIL_PASSWORD=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=

# Redis
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379
SPRING_REDIS_PASSWORD=your_redis_password

# GG OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=