# App
APPLICATION_NAME=mini-concert-booking-app
APPLICATION_VERSION=0.0.1

# Ports
CLIENT_PORT=3000
BACKEND_PORT=8081
SOCKET_PORT=9092
POSTGRES_PORT=5432
REDIS_PORT=6379
KAFKA_PORT=19092
PGADMIN_PORT=5050

# Frontend build/runtime
NEXT_PUBLIC_API_URL=http://localhost:8081/api/v1
NEXT_PUBLIC_SOCKET_URL=http://localhost:9092
NEXT_PUBLIC_ENABLE_DEV_PAYMENT=true

# Admin seed
SUPER_USER_USERNAME=admin
SUPER_USER_PASSWORD=admin
SUPER_USER_EMAIL=admin@example.com
SUPER_USER_FULL_NAME=Nam Quyen
SUPER_USER_PHONE=0000000000

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION=604800000

# Postgres container
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=mini-concert-booking-app

# Redis container
SPRING_REDIS_PASSWORD=
SPRING_REDIS_TIMEOUT=2s

# Kafka container
KAFKA_ENABLED=true
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CONSUMER_GROUP_ID=mini-concert-booking
KAFKA_TOPIC_BOOKING_PAID=booking.paid

# Socket
SOCKET_ORIGIN=http://localhost:3000

# Backend server
SERVER_PORT=8081

# Thread / Tomcat
THREAD_POOL_CORE_SIZE=5
THREAD_POOL_MAX_SIZE=10
THREAD_POOL_QUEUE_CAPACITY=25
TOMCAT_MAX_THREADS=50
TOMCAT_MIN_SPARE_THREADS=10
TOMCAT_MAX_QUEUE_CAPACITY=100

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=

# Bank transfer fallback
BANK_ACCOUNT_NUMBER=0000000000
BANK_ACCOUNT_NAME=MINI CONCERT BOOKING

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=